@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

* {
    font-family: 'poppins',sans-serif;
}

body {
    background-image: url("homepagePicture.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.carInfo, .inspectorInfo, .driverInfo{
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.rentalInfo,
.returnInfo {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value (0.8) */
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}


.carInfo {
    position: relative;
    top: 50px;
    margin-top: 50px;
    overflow: auto;
}

.inspectorInfo {
    position: relative;
    top: 50px;
    margin-top: 10px;
    overflow: auto;
}

.driverInfo {
    position: relative;
    top: 50px;
    margin-top: 10px;
    overflow: auto;
}

.rentalInfo {
   
    position: relative;
    top: 50px;
    margin-top: 25px;
    overflow: auto;
}

.returnInfo {
    position: relative;
    top: 35px;
    margin-top: 50px;
    overflow: auto;
    width: 300px;
}

.line {
    flex-grow: 1;
    height: 1px;
    display: flex;
    justify-content: flex-start;
    background-color: black;
}









