@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

* {
    font-family: 'poppins',sans-serif;
}

body {
    background-image: url("homepagePicture.jpeg");
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



.carInfo, .inspectorInfo, .driverInfo, .rentalInfo, .returnInfo{
    display: block;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}



.table {
    margin-top: 300px; /* Adjust the value as needed */
}

.column {
    width: 150px; /* Fixed width for each column */
}

.table-row {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}












